.resume {
  &__code {
    font-size: 1rem;
    text-align: left;
  }
  padding-top: 8rem;
  &__title {
    @include fz20;
    position: relative;
    text-align: center;
    @include before-circle;
    // width: 11%;
    margin: 0 auto;
  }
  &__subtitle {
    text-align: center;
    color: $subtitle-color;
    @include fz36;
  }
  &__wrapper {
    padding: 3rem 6.5rem 0 6.5rem;
    display: grid;
    column-gap: 13.5rem;
    grid-template-rows: repeat(2, 20rem);
    grid-template-columns: repeat(2, 42rem);
  }

  &__item {
    padding: 20px;
    text-align: center;

    &-title {
      position: relative;
      @include before-circle;
      @include fz20;

      &::before {
        @include circleMini;
      }
      &::after {
        content: url("../../src/icons/experience/university.svg");
        margin-left: 1rem;
      }
      &-exp {
        &::before {
          @include circleMini;
        }
        position: relative;
        @include fz20;
        &::after {
          content: url("../../src/icons/about_me/web_development.svg");
          margin-left: 1rem;
        }
      }
    }

    &-univer {
      margin-top: 1rem;
      @include fz16;
    }
    &-diplom {
      @include fz14;
      & a {
        font-size: 16px;
        text-decoration: none;
      }
    }
  }
}
