.skills {
  padding-top: 8rem;
  &__wrapper {
      margin-top: 7rem;
      padding: 0 1rem 0 1rem;
      display: grid;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: repeat(2, 25rem);
      column-gap: 2rem;
      row-gap: 3.3rem;

  }
  &__item {
      padding: 1.5rem;
      width:25rem;
      
      box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
      // border: 1px solid;
      border-radius: 15px;
      &-title {
          @include fz16;
          text-align: center;
      }
      &-subtitle {
          margin-top: 1rem;
          text-align: center;
          @include fz14;
      }
  
      &-icon {
          padding-top: 1rem;
          text-align: center;
      }
  }
  &__title {
      margin: 0 auto;
      width: 10%;
      position: relative;
      @include fz20;
      text-align: center;
      @include before-circle;
      
  }
  &__subtitle {
      color: $subtitle-color;
      margin-top: 1rem;
      text-align: center;
      @include fz36;

  }
}